
#title{

	width:200px;
	height:200px;
	padding-top:25px;
	padding-left:575px;
	position:absolute; 
}


#cat{
    width:800px;
    height:800px;
    padding-left:0px;
    padding-top:100px;
    position: absolute;
}

#cat2{
    width:800px;
    height:800px;
    padding-left:0px;
    padding-top:100px;
    position: absolute;
}

#kid{
	width:800px;
    height:800px;
    padding-left: 550px;
    padding-top:100px;
    position: absolute;
}

#bff{

    padding-top:100px;
}
