body{

	background-color: #ff554d;


}

#window{

	position: absolute;
    height: 807px;
    width: auto;
    top: 30px;
    left: 769px;

}


.Exercises{

	/*font-family: 'Cinzel', serif;*/

	margin-top: 5px;

	color: white;

	font-family:Andale Mono;

	font-weight: bold;

	font-style: ;

	font-size: 40px;

	
}

.Projects{

	/*font-family: 'Cinzel', serif;*/

	color: white;

	font-family: Andale Mono;

	font-weight: bold;

	font-style: ;

	font-size:40px;

	
}