body{

	background-color: #ff554d;


}


.Exercises{

	/*font-family: 'Cinzel', serif;*/

	margin-top: 5px;

	color: white;

	font-family: Helvetica;

	font-weight: bold;

	font-style: italic;

	font-size: 40px;

	
}

.Projects{

	/*font-family: 'Cinzel', serif;*/

	color: white;

	font-family: Helvetica;

	font-weight: bold;

	font-style: italic;

	font-size:40px;

	
}