/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
	background-color: #FF5733;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	width: 300px;
    height: 300px;
    border-radius: 50%;
	background: orange;
	color: yellow;

	margin: 30px;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 

	/* uncomment this to get CSS transitions (conflicts with jQuery) */
	/* transition: all 500ms ease; */
}

/* example buttons */

.toggle{


}

#title {

}



#button-1:hover {
	transform: rotate(1440deg) scale(.5);
	opacity: .3;
	-webkit-transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-ms-transition: all 2s ease-in-out;
-o-transition: all 2s ease-in-out;
transition: all 2s ease-in-out;

}

#button-1:active {
	background: pink;
	opacity: 1;

}

/* example buttons */

#button-2:hover {
	transform: rotate(1440deg) scale(2);
	opacity: .3;
	-webkit-transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-ms-transition: all 2s ease-in-out;
-o-transition: all 2s ease-in-out;
transition: all 2s ease-in-out;

}

#button-2:active {
	background: pink;
	opacity: 1;
}

#button-9:hover {

	transform: scale(.5);
 
     -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
     transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);


}

#button-10:hover {

	/*transform: scale(1);*/

	transform: skew(90deg);
 
     -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
     transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);


}







